*{
  margin:0;
  padding:0;
}

body, html{
  overflow: hidden;
  font-family: 'Unbounded', cursive;
}

.webgl{
  position: absolute;
  top:0;
  left:0;
  z-index: 1;
  cursor:pointer;
}


.title {
  color: #fff;
  z-index: 2;
  position:absolute;
  font-size:3rem;
  left:50%;
  top:25%;
  transform: translate(-50%, -25%);
}